body {
  background: url("../img/cielo.jpg");
  background-attachment: fixed;
}

#logo {
  background: #3074f1;
}

#menu ul li:hover {
  background: #3074f1;
}

.button-more {
  background: #3074f1;
}
